<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Reny.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<true/>
			<key>buildNumber</key>
			<string>8</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>04C5144AB88228EABE6FD0851980CFB6B859F237</string>
				<key>dateExpires</key>
				<string>11/1/22</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>8</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>04C5144AB88228EABE6FD0851980CFB6B859F237</string>
						<key>dateExpires</key>
						<string>11/1/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>LinkKit.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3RF2T64DCN</string>
						<key>name</key>
						<string>A place to return to llc</string>
					</dict>
					<key>versionNumber</key>
					<string>2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>8</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>04C5144AB88228EABE6FD0851980CFB6B859F237</string>
						<key>dateExpires</key>
						<string>11/1/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Stripe.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3RF2T64DCN</string>
						<key>name</key>
						<string>A place to return to llc</string>
					</dict>
					<key>versionNumber</key>
					<string>2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>8</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>04C5144AB88228EABE6FD0851980CFB6B859F237</string>
						<key>dateExpires</key>
						<string>11/1/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>StripeCore.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3RF2T64DCN</string>
						<key>name</key>
						<string>A place to return to llc</string>
					</dict>
					<key>versionNumber</key>
					<string>2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>8</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>04C5144AB88228EABE6FD0851980CFB6B859F237</string>
						<key>dateExpires</key>
						<string>11/1/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>StripeUICore.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3RF2T64DCN</string>
						<key>name</key>
						<string>A place to return to llc</string>
					</dict>
					<key>versionNumber</key>
					<string>2</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>3RF2T64DCN.APTRT.Reny-dev</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.associated-domains</key>
				<array>
					<string>applinks:reny-webapp.herokuapp.com</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>3RF2T64DCN</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Reny.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>2df3e99b-81a5-431b-bd01-7309e34909ff</string>
				<key>dateExpires</key>
				<string>11/24/22</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: APTRT.Reny-dev</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>3RF2T64DCN</string>
				<key>name</key>
				<string>A place to return to llc</string>
			</dict>
			<key>versionNumber</key>
			<string>2</string>
		</dict>
	</array>
</dict>
</plist>
